*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    text-transform: capitalize;
    font-family: serif;
}

header{
    padding: 20px;
}

p{
    font-size: 1rem;
}

.favourite{
    background-color: blue;
    padding: 15px;
}
.favourite ul li{
list-style-type: none;
font-size: 1.2rem;

}

#title{
color: lightgreen;
}