* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fixed-navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.fixed-navbar a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
}

h2 {
    text-transform: capitalize;
}

.fixed-footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 10px;
    width: 100%;
}

.fixed-footer a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
}